.product-container {
  margin-top: 40px;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product-container-1 {
  height: auto;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  position: relative;
  border-radius: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.product-image-grid {
  border-radius: 10px;
  height: auto;
  width: inherit;  padding: 2px;
}
.product-container-1-img {
  border-radius: 10px;
  height: auto;
  width: inherit;
  z-index: 2;
}

.product-container-2 {
  display: flex;
  flex-direction: column !important;
  width: 550px;
  margin: 20px 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.product-container-rating {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #c6532e;
  font-size: 16px;
  font-family: "roboto";
}
.product-container-sub-heading {
  font-size: 38px;
  font-weight: bold;
  font-family: "roboto";
  word-spacing: 4px;
  color: white;
  margin: 20px 0;
}
.product-container-sub-heading span {
  color: #fc6838;
}
.product-container-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  font-family: "roboto";
  color: #979797;
  line-height: 20px;
}
.product-container-btn {
  color: white !important;
  text-transform: capitalize;
  width: 170px !important;
  margin-top: 15px !important;
  padding: 10px !important;
  background: #0a0d0f !important;
}

@media only screen and (max-width: 1155px) {
  .product-container-sub-heading {
    font-size: 51px;
  }
 
}
@media only screen and (max-width: 879px) {
  .product-container-sub-heading {
    font-size: 46px;
  }
}
@media only screen and (max-width: 760px) {
  .product-container-sub-heading {
    font-size: 48px;
  }
  .product-container-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 570px) {
  .product-container-sub-heading {
    font-size: 35px;
  }
  .product-container-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .product-container-1-img {
    height: 300px;
    width: 330px;
  }
}
@media only screen and (max-width: 350px) {
  .product-container-1-img {
    height: 250px;
    width: 280px;
  }
}
