/* .cart {
  padding: 30px 0;
}
.cart-col-1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column !important;
}
.cart-col-1-head {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: rgb(204, 204, 204);
  font-weight: bold;
  font-family: "Roboto";
}

.cart-seperator {
  border-color: rgb(122, 122, 122) !important;
  margin: 25px 0;
}
.cart-products-container {
  display: flex;
}
.cart-products-div {
    flex: 1;
    display: flex;
    overflow: auto;
}

.box {
    min-width: fit-content;
    display: flex;
}

.cart-th {
  padding: 0 10px;
  margin: 25px 0;
  height: 310px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: rgb(150, 150, 150);
  text-transform: uppercase;
  position: static;
}
.cart-product-col-1 {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.cart-product-cols {
  flex-grow: 1;
  justify-self: flex-end;
} */





@media (min-width: 650px) {
    .logo {
      margin-inline: unset;
    }
  }
  
  .avater-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
  .avater-cart .cart {
    cursor: pointer;
  }
  .avater-cart .avatar {
    height: 40px;
    cursor: pointer;
  }
  .avater-cart .avatar:hover {
    border: 1px solid hsl(26deg, 100%, 55%);
    border-radius: 50%;
  }
  
  .hamburger {
    z-index: 20;
  }
  
  header {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
  }
  header img {
    width: unset;
  }
  @media (min-width: 650px) {
    header {
      margin-bottom: 0;
    }
    header .hamburger {
      display: none;
    }
  }
  
  .hamMenu nav {
    display: block;
  }
  
  .hamMenu {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 50vw;
    height: 100vh;
    z-index: 5;
  }
  .hamMenu ul {
    flex-direction: column;
    margin-top: 6em;
    margin-left: 5%;
    isolation: isolate;
  }
  .hamMenu li {
    margin-bottom: 1em;
  }
  
  nav {
    display: none;
  }
  nav ul {
    display: flex;
    gap: 1em;
  }
  @media (min-width: 650px) {
    nav {
      display: block;
    }
  }
  
  .flexHero {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-direction: column;
  }
  @media (min-width: 650px) {
    .flexHero {
      flex-direction: row;
      align-items: center;
      gap: 1em;
      padding-block: 4em;
    }
  }
  @media (min-width: 900px) {
    .flexHero {
      gap: 2em;
    }
  }
  
  img {
    width: 100%;
  }
  
  .desktop {
    display: none;
  }
  @media (min-width: 650px) {
    .desktop {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .desktop-flex {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 1em;
    }
    .desktop-flex img {
      width: 100px;
    }
  }
  
  .smallImg:hover {
    opacity: 0.5;
  }
  .smallImg:active {
    opacity: 0.5;
    outline: 5px solid hsl(26deg, 100%, 55%);
  }
  
  .Mbig-img {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .mobileImg-hero {
    display: flex;
    align-items: center;
    position: relative;
  }
  @media (min-width: 650px) {
    .mobileImg-hero {
      display: none;
    }
  }
  
  .right-arrow {
    position: absolute;
    right: 20px;
  }
  
  .left-arrow {
    position: absolute;
    left: 20px;
  }
  
  .left-arrow,
  .right-arrow {
    background-color: white;
    color: hsl(220deg, 13%, 13%);
    border-radius: 50%;
    padding: 2px;
  }
  
  .info h4 {
    color: hsl(26deg, 100%, 55%);
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  .info h2 {
    color: hsl(220deg, 13%, 13%);
    margin-bottom: 1em;
  }
  .info p {
    color: hsl(219deg, 9%, 45%);
    margin-bottom: 2em;
  }
  .info h3 {
    color: hsl(220deg, 13%, 13%);
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .info span {
    color: hsl(26deg, 100%, 55%);
    background-color: hsl(27deg, 82%, 96%);
    padding: 0.2em;
    font-size: 0.7em;
  }
  .info .Add,
  .info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info .Add {
    background-color: hsl(223deg, 64%, 98%);
    padding: 0.8em;
    border-radius: 10px;
  }
  @media (min-width: 650px) {
    .info .Add {
      padding-block: 0.8em;
      padding-inline: 0.5em;
    }
  }
  .info .price {
    margin-bottom: 1.5em;
  }
  @media (min-width: 650px) {
    .info .price {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5em;
    }
  }
  .info .price p {
    margin-bottom: unset;
    text-decoration: line-through;
  }
  .info .btn-add {
    color: hsl(26deg, 100%, 55%);
    font-size: 1.2rem;
    margin-inline: 20px;
    cursor: pointer;
  }
  .info .btn-add:hover {
    opacity: 0.5;
  }
  .info .cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
  }
  @media (min-width: 650px) {
    .info .cart {
      flex-direction: row;
      gap: 1em;
    }
  }
  .info img {
    width: unset;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0.8em;
    border: unset;
    background-color: hsl(26deg, 100%, 55%);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 5px 2px hsl(27deg, 82%, 96%);
    cursor: pointer;
  }
  button:hover {
    opacity: 0.5;
  }
  @media (min-width: 650px) {
    button {
      padding-block: 0.8em;
      padding-inline: 2em;
    }
  }
  
  .cart-card {
    position: absolute;
    top: 100px;
    right: 12.5%;
    z-index: 200;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 75%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
  @media (min-width: 650px) {
    .cart-card {
      right: unset;
      top: 70px;
      width: 350px;
      box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .cart-card hr {
    margin-block: 1em;
  }
  
  .ctcheck {
    display: flex;
    flex-direction: column;
  }
  
  .ctinfo-flex {
    display: flex;
    gap: 0.5em;
    align-items: center;
    margin-bottom: 1em;
  }
  .ctinfo-flex span {
    color: hsl(220deg, 13%, 13%);
    font-weight: 600;
  }
  .ctinfo-flex p {
    color: hsl(219deg, 9%, 45%);
  }
  .ctinfo-flex img {
    width: 70px;
    border-radius: 5px;
  }
  
  .p-empty {
    text-align: center;
  }
  
  .avater-pos {
    position: relative;
  }
  
  .alert-count {
    position: absolute;
    top: -9px;
    right: 5px;
    color: white;
    background-color: hsl(26deg, 100%, 55%);
    border-radius: 20%;
    padding: 0 1px;
  }
  
  nav li {
    position: relative;
    color: hsl(219deg, 9%, 45%);
  }
  nav li:hover {
    color: hsl(220deg, 13%, 13%);
  }
  nav li:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -36px;
    left: 0;
    background-color: hsl(26deg, 100%, 55%);
  }