.main{
    margin-top: 60px;
    padding: 0 25px;
}
.popular-products-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-products-heading{
    font-size: 50px;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
.popular-products-heading span{
    color: #e05849;  
}
.grid-item{
    justify-self: center;
    align-self: center;
}
/* .popular-products-body{

    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
@media only screen and (max-width: 930px) {
    .popular-products-heading{
    font-size: 35px;
    }
}
@media only screen and (max-width: 600px) {
    .popular-products-heading{
    font-size: 25px;
    }
}