.add_to_cart_btn{
    padding: 7px !important;
    outline: 1px solid rgb(102, 102, 102) !important;
    color: white !important;
    font-weight: light !important;
    font-size: 11px !important;
    background: linear-gradient(149.79deg, #1C2A37 1%, #3E2018 100%) !important;
}