.Carousel {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}
.seperator {
  display: none;
}
.controls-wrapper {
  width: 100%;
}
.carousel-wrapper {
  width: 100%;
}
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}

