.featured-product-container {
    margin-top: 40px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  .featured-product-grid{
    border-radius: 10px;
    padding: 4px;
    /* background: linear-gradient(180deg, #7F249A 39.58%, #253DAB 100%);  */
  }
  .featured-product-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    position: relative;
    /* background: linear-gradient(95.15deg, #5298F2 0%, #FF6452 100%); */
    border-radius: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .featured-product-2 {
    display: flex;
    flex-direction: column !important;
    width: 550px;
    margin: 20px 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 20px;
  }
  .featured-product-heading {
    font-weight: 700;
    color: #c6532e;
    font-size: 16px;
    font-family: "roboto";
  }
  .featured-product-sub-heading {
    font-size: 58px;
    font-weight: bold;
    font-family: "roboto";
    word-spacing: 4px;
    color: white;
    margin: 20px 0;
  }
  .featured-product-sub-heading span {
    color: #fc6838;
  }
  .featured-product-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    font-family: "roboto";
    color: #979797;
  }
  .featured-product-btn {
    color: white !important;
    text-transform: capitalize;
    width: 170px;
  }
  @media only screen and (max-width: 1155px) {
    .featured-product-sub-heading {
      font-size: 51px;
    }
    .featured-product-1-img {
      height: 200px;
      width: 250px;
    }
  }
  @media only screen and (max-width: 1030px) {
    .featured-product-sub-heading{
      font-size: 35px;
    }
    /* .featured-image{
      width: 320px;
    } */
  }
  @media only screen and (max-width: 780px) {
    .featured-product-container{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }


  @media only screen and (max-width: 570px) {
    .featured-product-text {
      font-size: 12px;
    }
  }
  @media only screen and (max-width: 500px) {
      .featured-product-1-img {
          height: 200px;
          width: 230px;
      }
  }
  @media only screen and (max-width: 500px) {
      .featured-product-1-img {
          height: 170px;
          width: 280px;
      }
      
  }
  
  