body{
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  background: linear-gradient(90deg, #13171C, #1D2328 );
  min-height: 100vh;
  max-height: auto;

  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .product {
    padding: 0;
  }
}