body {
  overflow-x: hidden;
  width: 100vw;
  background: linear-gradient(90deg, #13171c, #1d2328);
  display: flex;
  justify-content: center;
}

:root {
  --container-width: 1371px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home,
.navbar,
.cart,
.testimonials-wrapper,
.news-letter-wrapper,
.footer-wrapper {
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: min(var(--container-width), calc(100vw - 250px)) !important;
  margin: 0 auto;
}

@media only screen and (max-width: 850px) {
  .home,
  .cart,
  .navbar,
  .testimonials-wrapper,
  .news-letter-wrapper,
  .footer-wrapper {
    width: min(var(--container-width), calc(100vw - 150px)) !important;
  }
}

@media only screen and (max-width: 600px) {
  .product {
    padding: 0;
  }

  .home,
  .cart,
  .navbar,
  .testimonials-wrapper,
  .news-letter-wrapper,
  .footer-wrapper {
    width: min(var(--container-width), calc(100vw - 50px)) !important;
  }
}

@media only screen and (max-width: 450px) {
  .home,
  .cart,
  .navbar,
  .testimonials-wrapper,
  .news-letter-wrapper,
  .footer-wrapper {
    width: min(var(--container-width), calc(100vw - 40px)) !important;
  }
}
