body{
  overflow-x: hidden;
  width: 100vw;
  background: linear-gradient(90deg, #13171C, #1D2328 );
  display: flex;
  justify-content: center;
}

:root {
  --container-width: 1371px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  min-height: 100vh;
  max-height: auto;
  justify-self: center;
  max-width: min(var(--container-width), calc(100vw - 250px));
}

@media only screen and (max-width: 850px) {
  .home{
     max-width: min(var(--container-width), calc(100vw - 150px));

  }
}
@media only screen and (max-width: 600px) {
  .product {
    padding: 0;
  }
  .home{
   max-width: min(var(--container-width), calc(100vw - 50px));
  }
}
@media only screen and (max-width: 450px) {
  .home{
   max-width: min(var(--container-width), calc(100vw - 40px));
  }
}

