.about-us-container {
  margin-top: 40px;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-us-1 {
  height: 340px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  position: relative;
  background: linear-gradient(136.7deg, #5597ee 0%, #fd6451 100%);
  border-radius: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.about-image-grid{
  border-radius: 10px;
  padding: 2px;
  background: linear-gradient(180deg, #7F249A 39.58%, #253DAB 100%);
}
.about-us-1-img {
  height: 680px;
  width: 700px;
  z-index: 2;
  rotate: 18deg;
}

.about-us-2 {
  display: flex;
  flex-direction: column !important;
  width: 550px;
  margin: 20px 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.about-us-heading {
  font-weight: 700;
  color: #c6532e;
  font-size: 16px;
  font-family: "roboto";
}
.about-us-sub-heading {
  font-size: 58px;
  font-weight: bold;
  font-family: "roboto";
  word-spacing: 4px;
  color: white;
  margin: 20px 0;
}
.about-us-sub-heading span {
  color: #fc6838;
}
.about-us-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  font-family: "roboto";
  color: #979797;
  line-height: 20px;
}
.about-us-btn {
  color: white !important;
  text-transform: capitalize;
  width: 170px;
}
@media only screen and (max-width: 1155px) {
  .about-us-sub-heading {
    font-size: 51px;
  }
  .about-us-1-img {
    /* height: 300px;
    width: 350px; */
    height: 480px;
    width: 500px;
  }


}
@media only screen and (max-width: 879px) {
     .about-us-sub-heading {
        font-size: 46px;
      } 
}
@media only screen and (max-width: 760px) {
  .about-us-sub-heading {
    font-size: 48px;
  }
  .about-us-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 570px) {
  .about-us-sub-heading {
    font-size: 35px;
  }
  .about-us-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
    .about-us-1-img {
        height: 300px;
        width: 330px;
    }
}
@media only screen and (max-width: 350px) {
    .about-us-1-img {
        height: 250px;
        width: 280px;
    }
    
}

